<h1 style="text-align: center;">{{titulo}}</h1>

<form>
  Introduce tu nombre: <input type="text" name="nombre" [(ngModel)]="nombre"><br>
  Introduce tu apellido: <input type="text" name="apellido" [(ngModel)]="apellido"><br>
  
  Introduce tu cargo: <input type="text" name="cargo" [(ngModel)]="cargo"><br>
  <input type="submit" value="Registrate" (click)="registrarUsuario()">
</form><br>

<p *ngIf="registrado;else sinRegistrar">{{mensaje}} con el nombre de: {{nombre}} {{apellido}} y tiene el cargo de <span [ngClass]="{paraDirectores:cargo=='director'}">{{cargo}}</span></p>

<!-- El nombre de la etiqueta puede ser personalizado
lo importante es el # -->
<ng-template #sinRegistrar>
  <p>Nadie registrado</p>
</ng-template><br>

<!-- Forma de recorrer un array -->
<ul>
  <!-- Defino la variable entrada of array a recorrer entradas -->
  <li *ngFor="let entrada of entradas">{{entrada.titulo}}</li>
</ul>

<!-- Implementación de los pipes -->
<p>Fecha actual: {{ today | date }}</p>
<p>Fecha actual formateada: {{today|date:'fullDate'}}</p>
<p>Hora actual: {{today | date:'shortTime'}}</p>
